<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Lien he</title>
  </head>
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .title > h3 {
      color: #b4a073;
      font-size: 23px;
      margin-top: 1.5em;
      text-transform: uppercase;
    }

    .title > h3:after {
      background: #b4a073 none repeat scroll 0 0;
      content: "";
      display: block;
      height: 2px;
      margin: 0 auto;
      width: 130px;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    /* 
    .title-info {
      color: #b4a073;
    } */
  </style>
  <body>
    <!--header-->
    <%- include('./partials/header'); -%>

    <!--Content-->
    <div class="my-5 px-4">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title text-center">
        <h3 class="fw-bold h-font title text-center">ABOUT US</h3>
      </div>

      <div class="h-line bg-dark"></div>
      <p class="text-center mt-3">
        We are a leading hotel booking website that offers a wide range of
        accommodations for travelers around the world. Our mission is to provide
        the best possible experience for our customers, from booking to
        check-out.
      </p>
    </div>

    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-5 mb-4 order-lg-1 order-md-1 order-1">
          <h3 class="mb-3">About Company</h3>
          <p>
            Our team is made up of experienced travel experts who are passionate
            about helping people find the perfect place to stay. We work hard to
            ensure that our website is easy to use, our prices are competitive,
            and our customer service is top-notch
          </p>
        </div>
        <div class="col-lg-5 col-md-5 mb-4 order-lg-2 order-md-2 order-2">
          <img src="/images/about_us_1.jpg" class="w-100" alt="" />
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-5 mb-4 order-lg-2 order-md-2 order-1">
          <h3 class="mb-3">Location of the hotel</h3>
          <p>
            Our hotel is located in the heart of the city, close to all major
            attractions and amenities. We offer a range of rooms to suit your
            needs, from cozy standard rooms to luxurious suites with
            breathtaking views of the city.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 mb-4 order-lg-1 order-md-1 order-2">
          <img src="/images/about_us_2.jpg" class="w-100" alt="" />
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-5 mb-4 order-lg-1 order-md-1 order-1">
          <h3 class="mb-3">Luxury & Comfort: Our Services and Wonders</h3>
          <p>
            At our hotel, we believe that the little things matter, and that's
            why we go the extra mile to ensure that your stay is perfect. From a
            warm welcome at check-in to the finest quality bedding, we take care
            of every detail to make you feel at home. We pride ourselves on our
            excellent customer service and strive to provide a personalized
            experience to each of our guests. Whether you need assistance with
            your luggage or recommendations for local restaurants, our friendly
            staff is always on hand to assist you. In addition to our
            comfortable accommodations, we also offer a range of amenities to
            help you relax and unwind. Take a dip in our pool, work up a sweat
            in our fitness center, or indulge in a massage at our spa.
          </p>
        </div>
        <div class="col-lg-5 col-md-5 mb-4 order-lg-2 order-md-2 order-2">
          <img src="/images/about_us_3.jpg" class="w-100" alt="" />
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('./partials/footer'); -%>
  </body>
</html>
